.icon-stress {
    /*background-image: url(resources/images/icons/stress.png);*/
    background-image: url(resources/images/icons/stress.png);
}

.icon-halt {
/*    background-image: url(resources/images/icons/halt.png);*/
    background-image: url(resources/images/icons/pause.png);
}

.icon-ready {
    /*background-image: url(resources/images/icons/ready.png);*/
    background-image: url(resources/images/icons/play.png);
}

.icon-lock {
    background-image: url(resources/images/icons/lock.png);
}

.icon-unlock {
    background-image: url(resources/images/icons/unlock.png);
}

.icon-delete {
    background-image: url(resources/images/icons/delete.png);
}

.x-action-col-icon {
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-right: 4px;
}

.x-change-cell {
    background-color: #000;
}

.amazon-color .x-change-cell {
    background-color: #B5E5F9;
}

.azure-color .x-change-cell {
    background-color: #C8F77D;
}

.google-color .x-change-cell {
    background-color: #F55063;
}

/* Blue Colors */
.color-0-0 .x-change-cell {
    background-color: #B5E5F9 !important;
}

.color-0-6 .x-change-cell {
    background-color: #094FA4 !important;
}

/* Green Colors */
.color-1-0 .x-change-cell {
    background-color: #C8F77D !important;
}

.color-1-6 .x-change-cell {
    background-color: #416115 !important;
}

/* Red Colors */
.color-2-0 .x-change-cell {
    background-color: #F55063 !important;
}

.color-2-6 .x-change-cell {
    background-color: #5F030B !important;
}

.redline .x-grid-cell {
    background-color: #FFE2E2;
    color: #900
}